* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: fit-content;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(120, 59, 127);
    font-family: "Montserrat", sans-serif;
  }
  
  .heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
  .nav-links a:hover:not(.active) {
  background-color: rgb(163, 116, 169);
  }
  
  .nav-links li a.active {
    background-color: rgb(101, 49, 107);
  }

  button {
    background-color: rgb(101, 49, 107);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;

}

#contactbutton {
  color: white;
}

button:hover {
    background-color: rgb(199, 195, 200);
}

.intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.747),
    rgba(0, 0, 0, 0.69)), url(images/me.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 690px;
    width: 100%;
}

.intro-text {
    font-size: 2em;
    color: white;
    font-weight:  200pt; ;
    text-align: center;
    padding: 35vh;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}