* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(120, 59, 127);
    font-family: "Montserrat", sans-serif;
  }
  
  .heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
  .nav-links a:hover:not(.active) {
  background-color: rgb(163, 116, 169);
  }
  
  .nav-links li a.active {
    background-color: rgb(101, 49, 107);
  }

  button {
    background-color: rgb(101, 49, 107);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;

}

button:hover {
    background-color: rgb(199, 195, 200);
}

.intro {
    background-image: url(images/IMG_0660-2.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;
    position: absolute;
    
}

.intro-text {
    font-size: 2em;
    color: white;
}